$bodyBackgroundColor:rgba(198, 238, 252, 0.53);
$contentBackgroundColor: #3b3b3b;
$textColor:#ffffff;

// Brief Style
$briefBackgroundColor: #fff178;
$briefWidth: 100%;
$briefMargin: 0px 0px 30px 0px;
$briefFloat: none;

//Header Style
$headlineOneTextTransform: uppercase;
$headlineColor:#fccd10;

$imgBorderColor:#f5c70f;

//Table Style
$tableHeaderSectionColor:#94a34e;
$tableBackgroundColor:#677d01;
$tableBorderColor: #94a34e;
$tableBorderBottom: 0px solid $tableBorderColor; 
$linkColor:#fccd10;

//Forms Style
$buttonBorderColor:#fccd10;
$buttonTextColor:#fccd10;
$buttonBackground:#3b3b3b;
$inputHeadingColor:#fccd10;
$inputBorderColor:#677d01;