$bodyBackgroundColor:#dcbb9a;
$contentBackgroundColor: #ffffff;
$textColor:#000000;

// Brief Style
$briefBackgroundColor:#fadcba;
$briefWidth: 390px;
$briefMargin: 0px 15px 0px 0px;
$briefFloat: left;

//Header Style
$headlineOneTextTransform: none;
$headlineColor:#893c00;

$imgBorderColor:#893c00;

//Table Style
$tableHeaderSectionColor:#e0e0e0;
$tableBackgroundColor:#ffffff;
$tableBorderColor: #808080;
$tableBorderBottom: 1px solid $tableBorderColor; 
$linkColor:#3d70a1;

//Forms Style
$buttonBorderColor:#3d70a1;
$buttonTextColor:#3d70a1;
$buttonBackground:#ffffff;
$inputHeadingColor:#808080;
$inputBorderColor:#808080;